.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 41px;
  width: 55%;
  background-color: #fff;
}

.white-block-left {
  bottom: -1px;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-right {
  top: -1px;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.btn-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-heading {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 2em;
  color: #cc861e;
}

.section-padding {
  padding: 6em 2em;
}

@media (min-width: 576px) {
  .section-heading {
    font-size: 3rem;
  }
  .section-padding {
    padding: 7em 2em;
  }
}

@media (min-width: 768px) {
  .white-block {
    height: 51px;
    width: 45%;
  }
  .section-heading {
    font-size: 3.4rem;
  }
  .section-padding {
    padding: 8em 2em;
  }
}

@media (min-width: 992px) {
  .section-heading {
    font-size: 4rem;
  }
  .section-padding {
    padding: 10em 2em;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
}

.nav__container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(215deg, #836f0b 0%, #af470a 74%);
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nav__container--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 2.8rem;
  padding: 0.5em 2em;
  margin: 0.5em 0;
}

.nav__item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  bottom: 0.3em;
  left: 1.5em;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  -webkit-transition: width 0.3s, height 0.3s, opacity 0.3s;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.nav__item:hover::before {
  width: 15px;
  height: 15px;
  opacity: 1;
}

.nav__btn {
  position: fixed;
  top: 15px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}

.nav__btn:hover .nav__bars::before,
.nav__btn:hover .nav__bars::after {
  width: 100%;
}

.nav__btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.nav__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.nav__bars, .nav__bars::before, .nav__bars::after {
  content: '';
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nav__bars {
  width: 100%;
}

.nav__bars::before {
  top: 13px;
  width: 60%;
}

.nav__bars::after {
  top: 26px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav-items-animation {
  -webkit-animation: navItemsAnimation 1s backwards;
          animation: navItemsAnimation 1s backwards;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  height: 85vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(215deg, rgba(131, 111, 11, 0.77) 0%, rgba(175, 71, 10, 0.77) 74%), url("../img/second_hero_1280.jpg");
  background-size: cover;
  background-position: center;
}

.header__heading {
  font-family: 'Courgette', cursive;
  font-size: 4.2rem;
  font-weight: 300;
}

.header__text {
  margin-top: 0.6em;
  font-size: 1.6rem;
}

.header__btn {
  margin-top: 2em;
  padding: 1em 1.6em;
  font-size: 1.4rem;
  background-color: #fff;
  color: #2e2e2e;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__btn::before {
  background-color: #ededed;
}

.dreams__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 0;
}

.dreams__img {
  width: 100%;
  margin-bottom: 1em;
}

.dreams__title {
  margin-bottom: 0.5em;
}

.dreams__text {
  font-size: 1.4rem;
}

.hero-img {
  position: relative;
  padding: 14em 2em;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(215deg, rgba(131, 111, 11, 0.77) 0%, rgba(175, 71, 10, 0.77) 74%), url("../img/hero_1280.jpg");
  background-size: cover;
  background-position: center;
  background-position: 0 0;
  overflow: hidden;
}

.hero-img .line {
  width: 100%;
  height: 0.05em;
  background-color: #fff;
}

.hero-img__title {
  font-family: 'Courgette', cursive;
  font-size: 4.2rem;
  margin-bottom: 0.5em;
}

.hero-img__text {
  padding: 1em 0;
}

.places__card {
  position: relative;
  margin: 2em 0;
  height: 480px;
  color: #fff;
  text-align: center;
  -webkit-perspective: 1400px;
          perspective: 1400px;
}

.places__card:hover .places__card-img {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0;
}

.places__card:hover .places__card-info {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  opacity: 1;
}

.places__card-img {
  padding: 2em;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.places__card-img-title {
  font-family: 'Courgette', cursive;
  font-size: 2.8rem;
}

.places__card-img-info {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.8rem;
}

.places__card-img-info i {
  margin-right: 0.3em;
}

.places__card-img--first {
  background-image: linear-gradient(45deg, rgba(255, 230, 8, 0.75), rgba(255, 119, 8, 0.75)), url("../img/places1.jpg");
}

.places__card-img--second {
  background-image: linear-gradient(215deg, rgba(131, 111, 11, 0.77) 0%, rgba(175, 71, 10, 0.77) 74%), url("../img/places2.jpg");
}

.places__card-img--third {
  background-image: linear-gradient(45deg, rgba(231, 16, 16, 0.75), rgba(255, 136, 0, 0.75)), url("../img/places3.jpg");
}

.places__card-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(circle at top right, #ffe608 0%, #ff7708 100%);
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  opacity: 0;
  border-radius: 10px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

.places__card-info-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.2em;
  width: 100%;
  font-family: 'Courgette', cursive;
  font-size: 2.8rem;
}

.places__card-info-list {
  margin: 0 auto;
  padding: 15px 0;
  width: 60%;
  list-style: none;
}

.places__card-info-list-item {
  padding: 1em;
  border-bottom: 1px solid #ededed;
}

.places__card-info-list-item:last-child {
  border: none;
}

.places__card-info-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2em;
  padding: 1em;
  width: 70%;
  background-color: #dd4efa;
  color: #2e2e2e;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.places__card-info-btn::before {
  background-color: #d14feb;
}

@media (min-width: 576px) {
  .header__heading {
    font-size: 5.2rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
  .dreams__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 3.5em 0;
  }
  .dreams__box-text {
    width: 55%;
  }
  .dreams__box-text--right {
    text-align: right;
  }
  .dreams__box-img {
    width: 40%;
  }
  .dreams__box-img--right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hero-img {
    padding: 16em 2em;
  }
  .hero-img .line {
    margin: 0 auto;
    width: 70%;
  }
  .hero-img__title {
    font-size: 5.2rem;
  }
  .hero-img__text {
    font-size: 1.8rem;
  }
  .places__card {
    margin: 2em 3em;
  }
}

@media (min-width: 768px) {
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2.2rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .dreams__text {
    font-size: 1.6rem;
  }
  .hero-img {
    padding: 18em 2em;
    background-position: center;
  }
  .hero-img__title {
    font-size: 6.2rem;
  }
  .hero-img__text {
    font-size: 2rem;
  }
  .places__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .places__card {
    margin: 1em;
    width: 45%;
  }
}

@media (min-width: 992px) {
  .nav__btn {
    top: 45px;
    right: 50px;
  }
  .nav__item {
    font-size: 3.8rem;
  }
  .header {
    background-image: linear-gradient(215deg, rgba(131, 111, 11, 0.77) 0%, rgba(175, 71, 10, 0.77) 74%), url("../img/second_hero_1920.jpg");
    background-attachment: fixed;
  }
  .header__heading {
    font-size: 8.8rem;
  }
  .header__text {
    font-size: 2.5rem;
  }
  .header__btn {
    font-size: 2rem;
  }
  .dreams__box {
    margin: 5em 0;
  }
  .dreams__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 2.5em;
  }
  .dreams__title {
    font-size: 3.2rem;
  }
  .dreams__text {
    font-size: 2rem;
  }
  .hero-img {
    padding: 22em 2em;
    background-image: linear-gradient(215deg, rgba(131, 111, 11, 0.77) 0%, rgba(175, 71, 10, 0.77) 74%), url("../img/hero_1920.jpg");
    background-attachment: fixed;
  }
  .hero-img .line {
    width: 60%;
    max-width: 700px;
  }
  .hero-img__title {
    font-size: 7rem;
  }
  .hero-img__text {
    font-size: 2.4rem;
  }
  .places__card {
    margin: 1.5em;
    width: 40%;
  }
  .places__card-info-list-item {
    font-size: 1.8rem;
  }
}

@media (min-width: 1100px) {
  .places__card {
    height: 510px;
    width: 28%;
  }
}
/*# sourceMappingURL=main.css.map */