.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.white-block {
  position: absolute;
  height: 41px;
  width: 55%;
  background-color: #fff;
}

.white-block-left {
  bottom: -1px;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-right {
  top: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.btn-animation {
  position: relative;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}

.btn-animation::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  z-index: -1;
}

.btn-animation:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
}

.burger-btn {
  position: fixed;
  top: 15px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}

.burger-btn:hover .burger-btn__bars::before,
.burger-btn:hover .burger-btn__bars::after {
  width: 100%;
}

.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}

.burger-btn__bars, .burger-btn__bars::before, .burger-btn__bars::after {
  content: '';
  position: absolute;
  right: 0;
  height: 3px;
  background-color: #fff;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.burger-btn__bars {
  width: 100%;
}

.burger-btn__bars:before {
  top: 13.5px;
  width: 60%;
}

.burger-btn__bars:after {
  top: 26.5px;
  width: 30%;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  height: 80vh;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(45deg, rgba(179, 80, 23, 0.75), rgba(148, 112, 15, 0.75)), url("../img/hero_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-attachment: scroll;
}

.header__heading {
  font-family: 'Courgette', cursive;
  font-size: 4.2rem;
  font-weight: 300;
}

.header__text {
  margin-top: 0.6em;
  font-size: 1.6rem;
}

.header__btn {
  margin-top: 2em;
  padding: 0.8em 1.6em;
  font-size: 1.4rem;
  background-color: #fff;
  color: #2e2e2e;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__btn::before {
  background-color: #ededed;
}

@media (min-width: 768px) {
  .white-block {
    height: 51px;
    width: 45%;
  }
  .header__heading {
    font-size: 6.6rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.6rem;
  }
}

@media (min-width: 992px) {
  .burger-btn {
    top: 45px;
    right: 50px;
  }
  .header {
    background-image: linear-gradient(45deg, rgba(179, 80, 23, 0.75), rgba(148, 112, 15, 0.75)), url("../img/hero_1920.jpg");
  }
  .header__heading {
    font-size: 8.4rem;
  }
}
/*# sourceMappingURL=main.css.map */