$main-color: rgb(233, 85, 27);
$secondary-color: rgb(209, 84, 26);
$pure-white: #fff;
$light-white: #ededed;
$dark: #2e2e2e;
$purple-color: #d556e0;
$purple-color-hover: #c544df;

$sun-gradient: radial-gradient(rgba(233, 137, 12, 0.75), rgba(236, 64, 12, 0.7));
$sun-gradient-solid: radial-gradient(rgb(233, 137, 12), rgb(236, 64, 12));

$light-sun-gradient: linear-gradient(145deg, rgba(255, 74, 19, 0.6) 0%, rgba(255, 164, 27, 0.6) 79%);

$red-gradient: linear-gradient(145deg, rgba(226, 41, 17, 0.6), rgba(247, 107, 14, 0.8));

$light-sun-gradient-solid: linear-gradient(145deg, rgb(255, 74, 19) 0%, rgb(255, 164, 27) 79%);
