@mixin burgerBtn {
	content: '';
	position: absolute;
	right: 0;
	height: 3px;
	background-color: $pure-white;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
	background-image: $sun-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
