@mixin btnBars {
	content: '';
	position: absolute;
	right: 0;
	height: 3px;
	background-color: $pure-white;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
	background-image: $sun-gradient, url($bgImg);
	background-size: cover;
	background-position: center;
}

@mixin contactFormInput {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 10px;
	font-size: 1.6rem;
}

@mixin btnStyle {
	border: none;
	border-radius: 10px;
	color: $pure-white;
	background-color: $main-color;
	letter-spacing: 2px;
	padding: 0.8em 1.2em;
	font-size: 1.5rem;
	text-transform: uppercase;
	cursor: pointer;
}
